<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cori Health</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="/imgs/logo-alt.svg" />
    <link href="/exames/style.css" rel="stylesheet" type="text/css" />
    <script src="/semantic/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css" />
  </head>

  <body onload="showExames()">
    <div class="header-exames">
      <h1>TRATAMENTO</h1>
    </div>
    <div class="corpo-exames" id="exames"></div>

    <br /><br />
    <div class="navbar">
      <div class="navbar-icons">
        <a id="home">
          <img src="/imgs/icons/home.png" />
        </a>
        <a id="cases">
          <img src="/imgs/icons/inactive_navbar_cases.png"
        /></a>
        <a id="ivas"><img src="/imgs/icons/inactive_navbar_ivas.png"
        /></a>
        <a id="settings">
          <img src="/imgs/icons/inactive-gear.png" />
        </a>
      </div>
    </div>
    <script src="/navbar.js"></script>
    <script src="script.js"></script>
    <script>
      function abrirModal(i) {
        $(`.modal-exame-${i}`).modal("show");
      }
    </script>
  </body>
</html>
