@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2fe;
}
.welcome-message {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.welcome-message h1 {
  color: #262a41;
  font-size: 30px;
  font-weight: 500;
}
.welcome-message p {
  color: #979797;
}
.app-container {
  display: flex;
  flex-direction: column;
}
.top-bar {
  background-color: #7f7bff;
  padding: 20px 20px;
  min-height: 30px;
  overflow: hidden;
}
.menu-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
}
.top-bar img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 13px;
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  border-top-right-radius: 35px;
  transition: width 0.5s ease-in-out;
}
.sidebar.open {
  width: 250px;
}
.redirects {
  padding-top: 10px;
  padding-bottom: 50px;
}

.redirects i {
  padding-right: 18px; /* Espaçamento entre o ícone e o texto */
}

.redirects div {
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 10px 10px;
  padding-left: 24px;
  margin-bottom: 24px;
  font-size: 18px;
  color: #818181;
  text-decoration: none;
  border-radius: 15px;
  transition: transform 0.6s, background-color 0.6s; /* Removido box-shadow da transição */
  line-height: 40px;
  cursor: pointer;
  box-shadow: none; /* Sombra removida */
  outline: none;
  border: ;
}

.redirects div:hover,
.redirects div:active {
  background-color: #7f7bff;
  color: white;
  transform: translateY(-10px);
  left: 12px;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}
.personal-info img {
  border-radius: 15px;
  width: 70px;
  height: 70px;
  margin-right: 16px; /* Distância entre a imagem e o texto */
  object-fit: cover; /* Faz com que a imagem cubra totalmente o espaço disponível sem distorção */
}

.personal-info {
  display: flex;
  align-items: center; /* Centraliza verticalmente o texto em relação à imagem */
  margin-left: 24px; /* Distância de 24px do começo da tela */
}

.text-info {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  font-size: 14px;
  padding-left: 12px; /* Espaço entre a imagem e o texto */
}

#title {
  margin-top: 20px; /* Reduz o espaço abaixo do título */
  line-height: 1; /* Reduz a altura da linha para o título */
  font-size: 16px;
  color: #8a827b;
}

#name {
  margin-top: -5px;
  font-weight: 600;
}
.email {
  margin-left: 24px; /* Distância consistente para o email, similar ao bloco acima */
  color: #8a827b;
  font-size: 14px;
  font-weight: 500;
  padding-top: 25px;
}

.logo {
  position: fixed; /* Fixa a <div> em relação à janela de visualização */
  bottom: 25px; /* Distância de 25px do fim da tela */
  left: 0; /* Alinha à esquerda da tela */
  padding-left: 20px; /* Espaçamento interno à esquerda de 20px */
  width: 100%; /* Opcional: estende a <div> por toda a largura da tela */
}
.logo img {
  max-width: 145px;
  max-height: 31px;
  height: auto;
  width: auto;
}
